html, body {
    padding: 0;
    margin: 0;
    background-color: white;
}

/* HOME PAGE BANNER */
#home .picture-half {
    background-image: url(../images/3.jpg);
    background-size: cover;
}
/* ABOUT PAGE BANNER */
#about .picture-half {
    background-image: url(../images/3.jpg);
    margin-bottom: 20px;
}
/* ISSUES PAGE BANNER */
#issues .picture-half {
    background-image: url(../images/issues.jpg);
    width: 100%;
}
/* Training PAGE BANNER */
#training .picture-half {
    background-image: url(../images/training.jpg);
    background-size: cover;
    width:100%;
    margin-bottom: 20px;
}
/* HEALTHY SCHOOLS PAGE BANNER */
#healthy-schools-now .picture-half {
    background-image: url(../images/abondoned-school.jpg);
    width: 100%;
    margin-bottom: -10px;
}

/* RESPECT OUR RTK PAGE BANNER */
#respect-our-rtk .picture-half {
    background-image: url(../images/smoke-chimney.jpg);
}
/* RESOURCES PAGE BANNER */
#resources .picture-half {
    background-image: url(../images/resources-4.jpg);
}

/* Chemical S&S PAGE BANNER */
#chemical-safety-and-security .picture-half, #prevent-toxic .picture-half {
    background-image: url(../images/chem.jpeg);
}

/* green-jobs PAGE BANNER */
#green-jobs .picture-half {
    background-image: url(../images/windmill.jpg);
    text-shadow: 2px 1px #000;
    width: 100%;
}

/* Workplace Safety PAGE BANNER */
#workplace .picture-half {
    background-image: url(../images/factory-work.jpg);
    text-shadow: 2px 1px #000;
}

/* Environmental Justice PAGE BANNER */
#justice .picture-half {
    background-image: url(../images/justice.jpg);
}

/* Ergonomics PAGE BANNER */
#ergo .picture-half {
    background-image: url(../images/erg-chair.jpg);
}

/* Support PAGE BANNER */
#support-us .picture-half {
    background-image: url(../images/support-brick.jpeg);
}

/* safer after sandy PAGE BANNER */
 #safer-after-sandy .picture-half {
     background-image: url(../images/SaferAfterSandyslide.jpg);
 }

/* WHISTLEBLOWER PAGE BANNER */
#whistleblower .picture-half {
    background-image: url(../images/home-banner-pics/whistleblower.jpg);
}

/* Health and Safety PAGE BANNER */
#health-and-safety .picture-half {
        background: url(../images/health-safety.jpg);
    background-size: cover;
}

#resources {
    background-color: #98B0B1;
}

#bio-template nav {
    border-bottom: solid 1px #0F3638;
}
    
/* Whenever you create a new general info page,
   add the page-id body: #issues body */
#about, #about body, #issues body, #resources body, #bio-template body, #bio-template, #search-results body {
    background-color: white;
}

nav {
    margin: 0;
    height: 60px;
    padding: 0;
    background-color: white;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav #logo {
    margin-top: 5px;
    height: 50px;
}

nav .button, nav .search {
    margin-top: 11px;
    margin-bottom: 0;
}

nav .button {
    color: #0F3638;
    border-style: none;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

nav .button:hover {
    background-color: #0F3638;
    color: white;
}
#about-content, #news-content, #take-action-content, #support-content {
    display: none;
    position: absolute;
    font-family: "Open Sans", sans-serif;
}

#about-content a, #news-content a, #take-action-content a, #support-content a {
    display: block;
    color: #0F3638;
}

#about-content a:hover, #news-content a:hover, #take-action-content a:hover #support-content a:hover {
    background-color: #FFF}

#about-content, #news-content, #take-action-content, #support-content {
    display: block;
}

.picture-half {
    display: table;
    padding: 0;
    height: 500px;
    background: url('../images/3-cropped-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.picture-half h1 {
    display: table-cell;
    text-align: center;
    color: white;
    width: 100%;
    height: 500px;
    vertical-align: middle;
    margin-top: 0;
    font-size: 4rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.primary-text ul {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 15px;
    width: 88%;
    margin-left: 6%;
    margin-bottom: 0;
}

#about .picture-half ~ .picture-half {
    background: url("../images/issues.jpg");
    background-size: cover;
    margin-top: 20px;
    background-color: white;
}

#about .picture-half ~ .picture-half ~ .picture-half {
    background: url("../images/Accomplishments.jpg");
    background-size: cover;
}

.no-picture-half {
    display: table;
    padding: 0;
    height: 50px;
    width: 100%;
    text-align: center;
}

.top-bar {
    padding: 0;
    height: 100px;
    background-color: transparent;
    width: 100%;
}

#logo {
    float: left;
    height: 70px;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 15px;
}

.button {
    float: left;
    margin-top: 35px;
    margin-right: 1.5%;
    width: 13.5%;
    font-size: 15px;
    background-color: transparent;
    text-decoration-color: white;
    border: solid 1px;
}

#resource-buttons {
    width: 100%;
    padding-top: 50px;
    background-image: url(../images/pexels-photo.jpg);
    background-size: cover;
    margin-bottom: -20px;
}

#support-us #resource-buttons {
    background: white;
}

#resource-button {
    display: table;
    color: white;
    background: url(../images/fact-sheets.jpg);
    background-size: cover;
    height: 200px;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 50px;
    padding: 0;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resource-button h1 {
    display: table-cell;
    text-shadow: 1px 1px #000;
    vertical-align: middle;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

#resource-button ~ #resource-button {
    background: url(../images/wec-reports.jpg);
    background-size: cover;
}

#resource-button ~ #resource-button ~ #resource-button {
    background: url(../images/health-safety.jpg);
    background-size: cover;
}

#resource-button ~ #resource-button ~ #resource-button ~ #resource-button{
    background: url(../images/psas.jpg);
    background-size: cover;
}

#support-us #resource-button {
    background: url(../images/donate-us.jpg);
    background-size: cover;
}

#support-us #resource-button ~ #resource-button {
    background: url(../images/ind-mem.jpg);
    background-size: cover;
}

#support-us #resource-button ~ #resource-button ~ #resource-button {
    background: url(../images/org-mem.jpg);
    background-size: cover;
}

#support-us #resource-button ~ #resource-button ~ #resource-button ~ #resource-button {
    background: url(../images/mem-ben.jpg);
    background-size: cover;
}

#support {
    background-color: #0F3638;
    color: white;
    border: none;
}

#donate {
    float: right;
}

#health-and-safety #resource-button {
    background: url(../images/silica.jpg);
    background-size: cover;
}

#health-and-safety #resource-button ~ #resource-button {
    background-image: url(../images/erg-chair.jpg);
    background-size: cover;
}

#health-and-safety #resource-button ~ #resource-button ~ #resource-button {
    background: url(../images/safety.jpeg);
    background-size: cover;
}

#health-and-safety #resource-button ~ #resource-button ~ #resource-button ~ #resource-button {
    background: url(../images/mem-ben.jpg);
    background-size: cover;
}

.search {
    width: 13.5%;
    float:left;
    margin-top: 35px;
    margin-right: 1.5%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    border: 1px solid #0F3638;
    font-size: 0.9rem;
    background-color: transparent;
}

.banner {
    margin-top: 10%;
    height: 200px;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.banner h5 {
    width: 75%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.banner h4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#healthy-schools-now{
    background-color: #98B0B1;
    height: 100px;
    margin-bottom: 0;
}

.logo-bar {
    height: 50px;
    width: 450px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.state-aff {
    display: table;
    overflow: hidden;
    height: 100%;
    width: 150px;
    float: left;
    text-align: center;
    padding-right: 10px;
}

.banner h8 {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    margin-right: 0;
}

.banner img {
    float: left;
    height: 100%;
    width: 150px;
    margin-left: 0;
}

.sign-up button {
    width: 37%;
    margin-top: 75px;
    margin-left: 31.5%;
    float: left;
    height: 40px;
    color: #0F3638;
        /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    border: 1px solid #0F3638;
}
.sign-up button:hover {
    color: white;
}

.slider {
    border-left: 20px solid #0F3638;
    border-right: 20px solid #0F3638;
    border-style: 
}

.stay-connected-half {
    background-color: white;
    height: 500px;
    margin-bottom: 0;
}

.stay-bar {
    height: 50px;
}

.stay-bar p {
    margin-left: 2.5%;
    margin-right: 4%;
    font-size: 2em;
    font-weight: 200;
    float: left;
    color: #0F3638;
    padding: 0;
}

.stay-bar img {
    height: 50px;
    margin-right: 0.5%;
    padding-top: 1%
}

.buckets {
    margin-top: 0%;
    float: left;
    width: 100%;
}

#twitter {
    padding-top: 5px;
}

.twitter-timeline {
    float: left;
    margin-left: 2.5%;
}

.bucket {
    display: table;
    float: left;
    margin-left: 2.5%;
    width: 30%;
    height: 490px;
    border: solid 2px #0F3638;
    border-radius: 15px;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#buck-text, #third {
    display: table-row;
}

#buck-text p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #0F3638;
    width: 100%;
    height: auto;
    display: table-cell;
    vertical-align: middle;
}

#third img {
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-half {
    margin-top: 50px;
    background-color: white;
    height: 275px;
    padding: 0;
}

.primary-text {
    background-color: white;
}

.primary-text img {
    position: absolute;
    width: 40px;
}

.primary-text h1 {
    width: 100%;
    text-align: center;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: table;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #D0934A;
    letter-spacing: normal;
}

.primary-text h2 {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: table;
    margin-top: 10px;
    margin-left: 6%;
    color: #D0934A;
    letter-spacing: normal;
}

.primary-text h2 a {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: table;
    color: #D0934A;
    letter-spacing: normal;
}

.left-header {
    margin-left: 6%;
}

#board {
    margin: 0;
}

.primary-text div {
    display: inline-block;
    width: 100%;
    margin: 0;
}

.primary-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 15px;
    width: 88%;
    margin-left: 6%;
    margin-bottom: 0;
}

.primary-text span {
    color: #D0934A;
    text-decoration: underline;
}

.help {
    display: inline-block;
    margin-left: 15%;
    margin-right: 30%;
    margin-top: 20px;
    float: left;
}

#link {
    width: 30px;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    margin-top: -20px;

}

#help-link {
    float: left;
    display: block;
    width: 20%;
    font-size: 10px;
    margin-top: -20px;

}

#help-link span {
    color:#D0934A;
    text-decoration: underline;
}

#help-link p {
    color:#D0934A;
}

#help-list {
    float: left;
    width: 40%;
    margin-left: 18%;
}

#sub-title {
    font-weight: 600;
    color: black;
    text-decoration: none;
    letter-spacing: normal;
}

#small-orange-title {
    font-weight: 600;
    color: #D0934A;
}

#quote {
    margin: 20px auto;
}

#quote p {
    font-weight: 800;
    color: gray;
}

#quote div {
    width: 40%;
    color: gray;
    font-size: 10px;
    margin-left: 50%;
    margin-bottom: 20px;
}

#col-1, #col-2 {
    width: 45%;
    float: left;
    margin-left: calc(10% / 3);
    margin-top: 20px;
}

#col-1 ul, #col-2 ul {
    list-style: none;
}

#col-1 li, #col-2 li {
    padding-left: 1em; 
    text-indent: -.7em;
}

#col-1 li {
    margin-bottom: 10px;
}

#col-2 li {
    margin-bottom: 20px;
}

#col-1 li:before, #col-2 li:before {
    content: "• ";
    color: #D0934A;
}

#important-person {
    width: 22%;
    float: left;
    margin-left: 4%;
    margin-top: 20px;
}

#important-person:first-of-type {
    margin-left: 13%;
}

#important-person p {
    font-size: 10px;
    margin-top: 5px;
    font-style: italic;
}

#important-person img {
    width:100%; 
}

#board-title {
    display: inline-block;
    width: 100%;
}

.secondary #important-person:first-of-type{
    margin-left: 26%;
}

#title {
    font-size: 10px;
    color: #D0934A;
    font-style: normal;
}

#name {
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
}

#director {
    width: 16.4%;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
}

#director img{
    width: 100%;    
}

#director p {
    font-size: 8px;
    font-style: italic;
}

#director:first-of-type {
    font-size: 8px;
    margin-left: 5%;
}

#director:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
}

#director #link {
    margin-top: 0;
    width: 16.4%;
}

#director #small-orange-title {
    float:left;
    font-size: 10px;
    margin-top: 8px;
}

#small-text {
    display: inline-block;
    font-size: 10px;
    margin-left: 13%;
    color: gray;
    font-style: italic; 
}

.aff-tit {
    margin-left: 6%;
}

#more {
    margin-top: 20px;
}

#f-list {
    list-style: none;
    margin-left: 10%;
    width: 80%;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 15px;
}

#f-list li {
    padding-left: 1em; 
    text-indent: -.7em; 
    margin-top: 5px;
}

#f-list li:before {
    content: "• ";
    color: #D0934A;
}

@charset "UTF-8";
.hero {
  background: url("http://static.pexels.com/wp-content/uploads/2014/07/beach-coast-holiday-2190-825x550.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden; }
  .hero h1 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.bio {
    margin-top: 50px;
    background-color: white;
    margin-bottom: 20px;
}

#face {
    width: 30%;
    float: left;
    border-right: solid 2px #0F3638;
}

#face img {
    width: 80%;
    margin-left: 10%;
}

#face h1, #summary h1 {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    font-weight: 400;
    margin-bottom: 0;
}

 #bio-title {
    margin-top: 0;
    font-size: 20px;
    width: 70%;
    text-align: center;
    color: #D0934A;
}

#face h3 {
    margin-top: 10px;
    font-size: 15px;
    width: 70%;
    text-align: center;
    margin-left: 15%; 
}

#summary {
    width: 60%; 
    float: left;
    margin-left: 5%
}

#summary h1 {
    text-align: left;
    margin-left: 0;
    width: 100%;
    margin-bottom: 10px;
}

#bottomhalf {
    margin-bottom: 20px;
}

#healthy-schools-now #bottomhalf .column {
    margin-left: 6%;
    width: 44%;
}

#workplace .column {
    padding-left: 0;
    margin-left: 5%;
    width: 45%;
}

#runaway-quote {
    text-align: center;
}

#resources .footer, #healthy-schools-now .footer {
    margin-top: 0;
}

.footer {
  background-color: #0F3638;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  display: inline-block;
    width: 100%;
    margin-bottom: -10px;
    margin-top: 20px;
}
  .footer p.slogan {
    color: #8d9093;
    font-size: 1.2rem;
    margin-bottom: 0.5rem; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 0;
    margin: 0; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
